<h1>Here is the create page</h1>

<form method="post">
    <label for="productName">Name of product: <input type="text" name="productName" id="productName"></label>
    <label for="productPrice">Price of product: <input type="text" name="productPrice" id="productPrice"></label>
    <input type="submit" name="submitBtn" value="Submit">
</form>

<a href="/catalog">Back to catalog page</a>